# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Node
node_modules/
dist/
build/
.env

# Hardhat
blockchain/artifacts/
blockchain/cache/
blockchain/typechain-types/

# Data
uploads/
vector_db/
*.db
ai_models/

# OS
.DS_Store
*.log
